@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin:0;
    min-height: 100vh;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    width: 85%;
    height: 80px;
    border-bottom: solid 2px gray;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
    justify-content: center;
    align-items: center;
    display: none;
}


.nav-toggle {
    display: none;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 0 15px;
}

.user-outer-container{
   width: 200px;
position: absolute;
right: 0;
top: 20;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.cart{
    width: 300px;
    height: 210px;
   position: absolute;
   top: 90px;
   right: 10px;
   background-color:white;
   display: none;
   box-shadow:-2px 3px 5px #888888;
   border-radius: 10px;
   z-index: 11;
   
}

.top-half{
width: 100%;
height: 30%;
border-bottom: solid 1px gray;
display: flex;
justify-content: flex-start;
align-items: center;
}

.top-half img{
    margin: 0px 10px;
}

.top-half p {
    margin: 0px 10px;
    font-size: 20px;
}

.bottom-half{
    width: 100%;
    height: 70%;
    display: flex;
justify-content:center;
align-items: center;
position: relative;
}

.cart-full{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  display: none;
}


.cart-full button{
    width: 80%;
    padding: 10px 0px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    border: none;

}

.product-cart-info{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}


.delete-icon{
    width: 12px;
    height: 15px;
}

.bottom-half p{
    font-size: 20px;
}

.name-quantity-price p{
    margin: 0px;
    font-size: 16px;
    color: gray;
    }

    .final-price{
        color: black;
        font-weight: bold;
    }

.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info img{
    margin: 0px 20px;
    cursor: pointer;
}

.cart-number-box{
    padding: 15px 0px;
    position: relative;
}

.cart-number-count{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: hsl(26, 100%, 55%);
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 10px;
display: none;
justify-content: center;
align-items: center;
}

.flex{
    display: flex;
}

.block{
    display: block;  
}




.avatar{
    width: 50px;
}


/*  <!-- Featured Product Section --> */

.outer-container{
    width: 90%;
    max-width: 2500px;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product-flex-container{
    width: 80%;
    height: auto;
    display: flex;
}

.product-images{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/* Nav for larger image */
.featured-product .nav{
    width: 20px;
    height: 20px;
    padding: 5px;
}




.next{
    position: absolute;
    right: 20px;
    top: 50%;
    bottom: 50%; 
    background-color: white;
    border-radius: 10px;
}

.previous-container{
    position: absolute;
    left: 20px;
    top: 50%;
    bottom: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre2{
    left:-20px;  
}

.next-container{
    position: absolute;
    right: 20px;
    top: 50%;
    bottom: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next2{
  right: 20px;  
}
 .nav{
width: 100%;
    object-fit: contain;
}

.navigation{
    display: none;
}



/*  <!-- Image section --> */
.featured-product{
    width: 65%;
    min-width: 300px;
    height: 65%;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
    cursor: pointer;
}



.featured-product img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.images-container{
    width: 70%;
    min-width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.images-container img{
    width: 22%;
    border-radius: 10px;
    cursor: pointer;
}

.modal .close-modal{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -25;
    right:-50;
    background-color: white;
    padding: 5px;
}


/* <!-- content section --> */

.product-content{
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    width: 80%;
    height: 500px;
}

.content-container h3{
    color:hsl(26, 100%, 55%);
}

.content-container h1{
    font-size: 48px;
}

.content-container .description{
   margin-left: auto;
   font-size: 20px;
   color: grey;
}

/* Price Section */
.price-flex-container{
    width: 35%;
    min-width: 150px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.price{
    width: 50%;
    height: 55px;
}

.discount{
    width: 40%;
}

.discount-value{
    width: 50%;
    height: 20px;
    background-color: rgb(219, 195, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 10px;
}

.reduced-price{
    height: 20px;
    font-size: 14px;
}

.reduced-price p{
    text-decoration: line-through;
    color: gray;
    font-weight: bolder;
    margin: 0 auto;
}

.add-to-cart-container{
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 20px;
}

.quantity-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-to-cart{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    width: 90%;
    background-color: rgb(239, 235, 235);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.quantity img{
    cursor: pointer;
}

.quantity p{
    cursor: default;
}

.cart-container{
    width: 90%;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.cart-container img, p{
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
}

@media (max-width: 900px) {

    header{
        width: 100%;
    }

    nav{
        width: 300px;
        position: absolute;
        left: 0px;
        top: 81px;
        background-color:whitesmoke;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform 400ms ease-in-out;
        z-index: 10;
    }

    nav ul{
        width: auto;
       display: flex;
       align-items: flex-start;
       justify-content: space-evenly;
       flex-direction: column;
       height: 500px;
       opacity: 0;
       transition: opacity 200ms ease-in-out;
    }

    nav ul li{
        margin-top: 20px;
        font-size: 30px; 
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background-color: black;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 8px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    .nav-toggle-label{
        margin: 0px 20px;
    }
/* when checked it will grow from the right hand side */
    .nav-toggle:checked~nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked~nav ul {
        opacity: 1;
    }

    .outer-container{
        width: 100%;

    }
    
    .Product-flex-container{
        width: 90%;
        height: auto;
        display: flex;
    }

    .F-P2{
        height: 400px;
    }

}

@media (max-width: 700px) {
    .Product-flex-container {
        width: 100%;
        flex-direction: column;
    }

    .product-images {
        width: 100%;
        flex-direction: column;
    }

    .product-content {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .featured-product{
        width: 65%;
    }


    .price-flex-container{
        width: 90%;
        min-width: 150px;
        height: auto;
    }
    
    .price{
        width: auto;
        height: auto;
        font-size: 30px;
    }

    .price h2{
        margin: 10px 0px;
    }
    
    .reduced-price{
        font-size: 20px;
    }

    .discount-value {
        width: 40%;
        height: 30px;
        font-size: 16px;
    }
    
}

@media (max-width: 500px) {

    header{
        width: 100%;
        justify-content: space-evenly;
    }

    .logo img{
        width: 80%;
    }

    .nav-toggle{
        width: 10px;
    }


    .user-outer-container{
        width: 150px;
     position: initial;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 0px 0px;
     }

     .featured-product{
        width: 100%;
        height: 400px;
        border-radius: 0px;
        margin: 0px auto;
    }

    .featured-product img{
        border-radius: 0px;
    }

    .outer-container {
        width: 100%;
        margin: 0px auto;
    }

    .product-images {
        width: 100%;
        flex-direction: column;
    }

    .images-container{
        display: none;
    }

    .navigation{
        display: flex;
    }

    .content-container h1 {
        margin: 15px auto;
    }

    .modal .close-modal{
        width: 25px;
        height: 25px;
        position: absolute;
        top: -50;
        right:10px;
        background-color: white;
        padding: 5px;
        border-radius: 20px;
    }
   

   
}

/* git push -u origin main */